@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
::after,
::before {
  box-sizing: content-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: rgb(210, 223, 230);
  display: grid;
  grid-template-areas: "header" "main" "footer";
  font-size: 20px;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(3, 19, 35, 0.89);
  border-radius: 5px;
}

header {
  grid-area: header;
}
header .color {
  background: linear-gradient(90deg, rgba(210, 223, 230, 0.4262079832) 25%, rgba(3, 19, 35, 0.49) 50%, rgba(3, 19, 35, 0.89) 83%);
}
header .navbar-dark .navbar-toggler-icon {
  background-image: url(../img/iconosApp/icons8-menú.svg);
}
header .navbar {
  font-size: 15px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
header .contenedorBotonRedes {
  display: flex;
  align-items: center;
  flex-direction: row;
}
header .contenedorBotonRedes .redes {
  padding-left: 1em;
}
header .contenedorBotonRedes .redes a {
  padding-right: 0.5em;
}
header .contenedorBotonRedes .redes a img {
  width: 1.1em;
}
header .logoBts {
  padding-right: 2%;
}
header .logoBts img {
  width: 3.5em;
}
header .contenedornav ul {
  font-size: 18px;
  padding-left: 1em;
}
header .contenedornav ul li {
  padding: 0.5em;
  padding-bottom: 0;
  list-style-type: none;
}
header .contenedornav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}

main {
  grid-area: main;
}

.formulario .container {
  margin: 3em auto;
  margin-top: 2em;
  max-width: 50%;
  background-color: rgb(181, 199, 207);
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
}
.formulario .container form {
  height: 8em;
}
.formulario .container .row {
  display: flex;
  margin-top: calc(var(--bs-gutter-y) * 0);
  margin-right: calc(var(--bs-gutter-x) * 0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  font-size: 14px;
}
.formulario .container .row .tituloForm {
  margin: 0em;
  padding: 0em;
  font-size: 1.2em;
}
.formulario .container .row .col-auto {
  height: 2em;
}
.formulario .container .row .col-auto input {
  width: 10em;
}
.formulario .container .row .col-auto .btn {
  padding: 0.2rem 1rem;
}
.formulario .container .row .col-auto .btn-primary {
  color: #fff;
  background-color: rgb(3, 19, 35);
  border-color: rgb(3, 19, 35);
}

footer {
  grid-area: footer;
  line-height: 0.6rem;
  text-align: end;
  padding: 0.5em;
  background: linear-gradient(90deg, rgba(210, 223, 230, 0.4262079832) 25%, rgba(3, 19, 35, 0.49) 50%, rgba(3, 19, 35, 0.89) 83%);
}
footer p {
  color: white;
  font-size: 9px;
  margin-bottom: 0rem;
}
footer strong {
  color: white;
  font-size: 9px;
}

.mainIndex .primeraSeccion h1 {
  color: black;
  text-align: center;
  text-shadow: 8px 10px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 2.5em;
  padding: 3%;
  padding-top: 4%;
}
.mainIndex .primeraSeccion h2 {
  color: black;
  text-align: center;
  padding-left: 0em;
  padding-top: 6%;
  margin-bottom: 0rem;
  font-size: 1.3em;
}
.mainIndex .primeraSeccion .informacionBts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainIndex .primeraSeccion .informacionBts iframe {
  height: 14em;
  width: 90%;
  padding: 1em;
}
.mainIndex .primeraSeccion .informacionBts p {
  text-align: justify;
  padding: 1em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0em;
  margin-right: 0.5em;
  margin-top: 1em;
  width: 90%;
  height: 14em;
  overflow: scroll;
  word-spacing: 0.5em;
}
.mainIndex .primeraSeccion .informacionBts p span {
  font-weight: bold;
}
.mainIndex .primeraSeccion .informacionBts p::-webkit-scrollbar {
  width: 4px;
  height: 0em;
}
.mainIndex .primeraSeccion .informacionBts p::-webkit-scrollbar-thumb {
  background-color: rgba(3, 19, 35, 0.89);
  border-radius: 5px;
}
.mainIndex .segundaSeccion h2 {
  color: black;
  text-align: center;
  padding-left: 0em;
  padding-top: 8%;
  margin-bottom: 0rem;
  font-size: 1.3em;
}
.mainIndex .segundaSeccion .contenedorImagenes {
  background-color: rgb(210, 223, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainIndex .segundaSeccion .contenedorImagenes .imagenesMiembros {
  width: 12em;
  background-color: rgb(3, 19, 35);
  margin: 3em;
  margin-top: 1em;
}
.mainIndex .segundaSeccion .contenedorImagenes .imagenesMiembros .miembrosFotos {
  width: 100%;
}
.mainIndex .segundaSeccion .contenedorImagenes .imagenesMiembros .nombres {
  width: 100%;
  margin-bottom: 0rem;
  text-align: center;
  font-size: 1em;
  color: white;
}
.mainIndex .segundaSeccion .contenedorImagenes .imagenesMiembros .fechas {
  width: 100%;
  margin-bottom: 0rem;
  text-align: center;
  font-size: 0.8em;
  color: white;
}

.mainTour .tituloTour h1 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 4.5em;
  text-shadow: 8px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.mainTour .infoTours {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
}
.mainTour .infoTours .toursDiv {
  width: 100%;
  margin-bottom: 2em;
  border-bottom: rgb(3, 19, 35) 0.1em solid;
}
.mainTour .infoTours .toursDiv .pais,
.mainTour .infoTours .toursDiv .estadio,
.mainTour .infoTours .toursDiv .diaTour {
  margin-bottom: 0em;
  text-align: center;
}
.mainTour .infoTours .toursDiv .pais {
  font-weight: bold;
}
.mainTour .infoTours .botonTicketDiv {
  padding: 1em;
  padding-bottom: 4em;
  padding-right: 1em;
}
.mainTour .infoTours .botonTicketDiv a {
  text-decoration: none;
  border-radius: 0.5em;
  background-color: rgb(3, 19, 35);
  color: white;
  text-align: center;
  font-size: 26px;
  padding: 0.5em;
  margin: 0.3em;
}

.mainMusica .tituloMusica h1 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 4.5em;
  text-shadow: 8px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.mainMusica .contenedorDeAlbums {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.mainMusica .contenedorDeAlbums .albums {
  padding: 1em;
  width: 10em;
}
.mainMusica .contenedorDeAlbums .albums .añoAlbum {
  font-weight: bold;
  font-size: 0.9em;
  margin-top: 0em;
  margin-bottom: 0em;
}
.mainMusica .contenedorDeAlbums .albums .imagenesAlbums {
  width: 100%;
}
.mainMusica .contenedorDeAlbums .albums .botonMasInfo {
  font-weight: bold;
  border-radius: 1em;
  margin-left: 7.8em;
  margin-top: 0.6em;
  line-height: 1em;
}
.mainMusica .contenedorDeAlbums .spotify {
  padding: 1em;
  padding-bottom: 5em;
  height: 10em;
  width: 85%;
}

.mainTienda .tituloTienda h1 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  font-size: 4.5em;
  text-shadow: 8px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.mainTienda .productosContenedor {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 1em;
}
.mainTienda .productosContenedor .productos {
  width: 15em;
  padding-bottom: 4em;
}
.mainTienda .productosContenedor .productos .imagenProducto {
  height: 11em;
  width: 9em;
  margin-bottom: 0.5em;
}
.mainTienda .productosContenedor .productos .nombreProducto {
  margin-bottom: 0rem;
  font-weight: bold;
}
.mainTienda .productosContenedor .productos .precioProducto {
  margin-bottom: 1em;
}
.mainTienda .productosContenedor .productos .botonCarrito {
  font-weight: bold;
  border-radius: 2em;
}
.mainTienda .productosContenedor .productos .botonMas {
  font-weight: bold;
  border-radius: 2em;
}

.mainGaleria .tituloGaleria h1 {
  position: relative;
  padding-top: 0.2em;
  padding-bottom: 0em;
  font-size: 4.5em;
  text-shadow: 8px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 0.72em;
  z-index: 1;
}
.mainGaleria .container {
  max-width: 95%;
  padding-bottom: 1em;
  padding-right: var(--bs-gutter-x, 0);
  padding-left: var(--bs-gutter-x, 0);
}
.mainGaleria .container .contenedorGeneralImg {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.mainGaleria .container .contenedorGeneralImg .row {
  margin-left: calc(var(--bs-gutter-x) * 0);
  margin-right: calc(var(--bs-gutter-x) * 0);
}
.mainGaleria .container .contenedorGeneralImg .row > * {
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
}
.mainGaleria .container .contenedorGeneralImg .carousel-item {
  width: 100%;
}
.mainGaleria .container .contenedorGeneralImg .contenedorGaleriaImg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 0.1em;
  height: 30em;
  align-items: center;
  overflow: scroll;
}
.mainGaleria .container .contenedorGeneralImg .contenedorGaleriaImg .imagenesGaleria {
  text-align: center;
}
.mainGaleria .container .contenedorGeneralImg .contenedorGaleriaImg .imagenesGaleria .imagenesGaleriaCon {
  padding-bottom: 1.5em;
  width: 90%;
}
.mainGaleria .contenedorGaleriaImg::-webkit-scrollbar {
  width: 5px;
}
.mainGaleria .contenedorGaleriaImg::-webkit-scrollbar-thumb {
  background-color: rgba(3, 19, 35, 0.89);
  border-radius: 5px;
}

@media (min-width: 340px) {
  .mainTour .tituloTour h1 {
    font-size: 6em;
  }
  .mainTour .infoTours {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 4em;
  }
  .mainTour .infoTours .toursDiv {
    width: 45%;
    padding: 1em;
    padding-left: 0em;
    margin-bottom: 4em;
  }
  .mainTour .infoTours .toursDiv .pais,
.mainTour .infoTours .toursDiv .estadio,
.mainTour .infoTours .toursDiv .diaTour {
    text-align: left;
  }
}
@media (min-width: 576px) {
  header .navbar {
    font-size: 18px;
  }
  /* FORMULARIO */
  .formulario .container {
    max-width: 370px;
    padding-right: 1em;
    padding-left: 1em;
  }
  /* FOOTER */
  footer {
    line-height: 1rem;
  }
  footer p {
    color: white;
    font-size: 12px;
    margin-bottom: 0rem;
  }
  footer strong {
    color: white;
    font-size: 12px;
  }
  /* HTML INDEX  */
  .mainIndex {
    padding: 1em;
    padding-top: 0em;
  }
  .mainIndex .primeraSeccion {
    background-color: rgb(210, 223, 230);
  }
  .mainIndex .primeraSeccion h1 {
    font-size: 3em;
  }
  .mainIndex .primeraSeccion h2 {
    font-size: 2.5rem;
    padding-top: 1em;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }
  .mainIndex .primeraSeccion .informacionBts iframe {
    width: 95%;
    height: 20em;
  }
  .mainIndex .primeraSeccion .informacionBts p {
    width: 95%;
    height: 16em;
  }
  .mainIndex .segundaSeccion h2 {
    font-size: 2.5rem;
    padding-left: 0.5em;
  }
  .mainIndex .segundaSeccion .contenedorImagenes {
    background-color: rgb(210, 223, 230);
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .mainIndex .segundaSeccion .contenedorImagenes .imagenesMiembros {
    background-color: rgb(3, 19, 35);
    margin: 3em;
    margin-right: 2em;
    margin-left: 1em;
  }
  /* HTML TOUR */
  .mainTour .tituloTour h1 {
    font-size: 6em;
  }
  /* HTML GALERIA */
  .mainGaleria {
    padding: 0em;
  }
  .mainGaleria .tituloGaleria h1 {
    font-size: 6em;
  }
  .mainGaleria .container {
    max-width: 85%;
  }
  .mainGaleria .container .contenedorGeneralImg .contenedorGaleriaImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 40em;
  }
  /* HTML MUSICA */
  .mainMusica .tituloMusica h1 {
    font-size: 6em;
  }
  .mainMusica .contenedorDeAlbums {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .mainMusica .contenedorDeAlbums .albums {
    padding-top: 2em;
    width: 10em;
  }
  .mainMusica .contenedorDeAlbums .spotify {
    padding-bottom: 1em;
    height: 10em;
    width: 45%;
  }
  /* HTML TIENDA */
  .mainTienda .productosContenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 950px) {
  body {
    display: grid;
    grid-template-areas: "header header" "main main" "footer footer";
  }
  body body::-webkit-scrollbar {
    width: 8px;
  }
  body body::-webkit-scrollbar-thumb {
    background-color: rgba(3, 19, 35, 0.89);
    border-radius: 5px;
  }
  header .redes {
    padding-left: 2em;
  }
  header .redes a {
    padding-right: 1em;
  }
  header .redes img {
    width: 2em;
  }
  header .contenedornav li {
    padding-bottom: 0.5;
  }
  header .contenedornav li a {
    font-size: 20px;
  }
  /* HTML INDEX  */
  .mainIndex .primeraSeccion h1 {
    font-size: 3.5em;
  }
  .mainIndex .primeraSeccion h2 {
    text-align: left;
  }
  .mainIndex .primeraSeccion .informacionBts {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: 1fr;
  }
  .mainIndex .primeraSeccion .informacionBts iframe {
    height: 19em;
    width: 90%;
  }
  .mainIndex .primeraSeccion .informacionBts p {
    width: 90%;
    height: 19em;
  }
  .mainIndex .segundaSeccion h2 {
    text-align: left;
  }
  .mainIndex .segundaSeccion .contenedorImagenes .imagenesMiembros {
    transition: all;
    transition-duration: 2s;
  }
  .mainIndex .segundaSeccion .contenedorImagenes .imagenesMiembros:hover {
    transform: scale(1.2);
  }
  /* HTML TOUR */
  .mainTour .tituloTour h1 {
    font-size: 8em;
  }
  .mainTour .infoTours {
    padding-left: 1em;
  }
  .mainTour .infoTours .toursDiv {
    width: 25%;
  }
  .mainTour .botonTicketDiv {
    padding-bottom: 5em;
  }
  /* HTML TIENDA */
  .mainTienda .tituloTienda h1 {
    font-size: 8em;
  }
  .mainTienda .productosContenedor {
    padding: 1em;
  }
  .mainTienda .productosContenedor .productos {
    padding-bottom: 4.5em;
  }
  /* HTML MUSICA */
  .mainMusica .tituloMusica h1 {
    padding-top: 0.2em;
    padding-bottom: 0em;
    margin-bottom: 0em;
    font-size: 8em;
  }
  .mainMusica .contenedorDeAlbums .albums {
    padding: 3em;
    padding-left: 6em;
    padding-bottom: 1.5em;
  }
  .mainMusica .contenedorDeAlbums .spotify {
    padding-right: 6em;
    padding-bottom: 0em;
    width: 45%;
  }
  /*HTML GALERIA */
  .mainGaleria .tituloGaleria h1 {
    font-size: 8em;
  }
  .mainGaleria .container {
    max-width: 80%;
  }
  .mainGaleria .container .contenedorGeneralImg .contenedorGaleriaImg {
    height: 40em;
  }
}/*# sourceMappingURL=style.css.map */