.tituloMusica {
    h1 {
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        font-size: 4.5em;
        text-shadow: 8px 10px rgb(0 0 0 / 10%);
        text-align: center;
    }
}


.contenedorDeAlbums {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    .albums {
        padding: 1em;
        width: 10em;

        .añoAlbum {
            font-weight: bold;
            font-size: 0.9em;
            margin-top: 0em;
            margin-bottom: 0em;
        }

        .imagenesAlbums {
            width: 100%;
        }

        .botonMasInfo {
            font-weight: bold;
            border-radius: 1em;
            margin-left: 7.8em;
            margin-top: 0.6em;
            line-height: 1em;
        }
    }

    .spotify {
        padding: 1em;
        padding-bottom: 5em;
        height: 10em;
        width: 90%;
    }

}