$black: black ;
$white: white;
$alignTextCenter: center; 
$fuenteHasta576Px: 4.5em;
$fuente576Px: 6em;
$fuente950Px: 8em;


@mixin font ($fuente,$radius) { 
    font-weight: $fuente;
    border-radius: $radius;
}


